.search-module {
  @include flex(column, nowrap, center);
  flex: none;
  position: relative;
  width: 40px;
  height: 40px;
  padding: $horizontalPadding;
  background-color: rgba(white, 0.95);
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 3px 5px rgba(black, 0.3);
  pointer-events: auto;
  .search-form {
    @include flex(column, nowrap, center);
    position: absolute;
    left: $horizontalPadding;
    width: 385px;
    transform: scale(0);
    transform-origin: left center;
    opacity: 0;
    transition: all 0.3s ease;
    .text-inputs {
      @include flex(row);
      input {
        flex: 1;
        &:not(:last-child) { margin-right: 5px; }
      }
    }
    .color-filter-group {
      @include flex(row, nowrap, space-between, center);
    }
    .color-filter {
      .icon {
        @include inline-flex(column, nowrap, center, center);
        cursor: pointer;
        font-size: 1.5em;
        transition: all 0.2s;
        &:not(:last-child) { margin-right: 5px; }
        &.unchecked {
          background-color: transparent;
          opacity: 0.4;
        }
      }
    }
    .color-buttons {}
    .all-none-checkboxes {
      label:not(:last-child) { margin-right: 5px; }
      input { margin-right: 5px; }
    }
    .cmc-filter {
      .input-group { width: 290px; }
      &__input {}
      &__button {}
    }
    .mono-multi-checkboxes {
      label:not(:last-child) { margin-right: 5px; }
      input { margin-right: 5px; }
    }
  }
  .search-button {
    @extend %layer;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 1.5em;
    opacity: 1;
    transition: all 0.3s ease;
  }
  &.form-visible,
  &:hover {
    width: 415px;
    height: 254px;
    padding: 0;
    border-radius: 10px;
    .search-button {
      font-size: 4em;
      opacity: 0;
    }
    .search-form {
      transform: scale(1);
      opacity: 1;
    }
  }
}
