.auth-modal {
  .form-group { position: relative; }
  .fa-eye {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.5;
    &:hover { opacity: 1; }
  }
  .buttons {
    @include flex();
    .btn {
      @include inline-flex(row, nowrap, center, center);
      flex: 1;
      min-height: 34px;
      text-transform: capitalize;
      &:not(:first-of-type) { margin-left: 0.4em; }
      svg {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
}
