.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity var(--transitionTime);
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity var(--transitionTime);
}

.scale-enter {
  transform: scale(0.9);
}

.scale-enter.scale-enter-active {
  transform: scale(1);
  transition: transform var(--transitionTime);
}

.scale-exit {
  transform: scale(1);
}

.scale-exit.scale-exit-active {
  transform: scale(0.9);
  transition: transform var(--transitionTime);
}

@keyframes fly {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
