@import "base";

html { box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: $text-color;
  background: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

a { cursor: pointer; }

#root,
#app { height: 100%; }

#app {
  @include flex(column);
  padding: $navbarHeight $horizontalPadding 0;
}

.no-scroll { overflow-y: hidden; }

.ms-cost { font-size: 1em; }

.alert {
  margin-top: 1vh;
}

// MAIN LAYOUT COMPONENTS

.app-buttons {
  @include flex(row, nowrap, space-around, flex-end);
  flex: none;
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

#MainHeader {
  pointer-events: auto;
  .route-navigation {
    a {
      &.active { text-decoration: underline; }
    }
  }
  .dropdown-toggle {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.error-modal {
  background: rgba(200, 0, 0, 0.5);
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}
