html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: var(--text-color);
  font: 16px sans-serif;
}

*,
*::before, *::after {
  box-sizing: inherit;
  outline: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a, button, .clickable { cursor: pointer; }

.no-scroll { overflow-y: hidden; }

.ms-cost { font-size: 1em; }
