html { box-sizing: border-box; }

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background: white;
}

*,
*::before, *::after {
  box-sizing: inherit;
  outline: none;
}

a, button, .clickable { cursor: pointer; }

.no-scroll { overflow-y: hidden; }

.ms-cost { font-size: 1em; }
